@media screen and (max-width: 1199px) {
  /* about section start  */

  .profile-back {
    left: auto;
    right: 14px;
  }

  /* about section end  */
  /* achivement section start  */

  .achive-title h1 {
    font-size: var(--font-48);
    line-height: var(--font-48);
  }

  .achive-title h2 {
    font-size: var(--font-34);
    line-height: var(--font-34);
  }

  .achivement-title {
    font-size: var(--font-38);
  }

  .single-achivement h2 {
    font-size: var(--font-38);
  }

  .single-achivement h4 {
    font-size: var(--font-16);
  }
  /* achivement section end  */

  /* project start  */

  .project-hover h2 {
    font-size: var(--font-34);
  }

  .project-hover {
    padding: 0 20px;
  }

  /* project end  */
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  /* banner start  */
  .banner-content h2 {
    font-size: 36px;
  }

  .banner-title {
    font-size: 58px;
  }
  /* banner end  */

  /* art section start  */

  .art-content h2 {
    font-size: var(--font-48);
  }

  /* art section end  */
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* about section start  */

  .dots {
    width: 230px;
    height: 215px;
  }

  /* about section start  */
}

@media screen and (max-width: 991px) {
  /* header start  */
  .header {
    padding: 15px 0;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 45%;
    background-color: var(--bgColor);
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }

  .show-menu {
    transform: translateX(0%);
  }

  .navbar-nav {
    flex-direction: column !important;
    column-gap: 30px;
  }
  /* header end  */

  /* banner start  */

  .form-lists {
    margin-bottom: 40px;
  }

  .form-lists ul {
    flex-direction: row;
    column-gap: 50px;
    justify-content: center;
  }

  .form-lists ul li {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .form-lists ul li .txt {
    padding: 0;
  }

  .form-lists ul li.line::before {
    top: 20px;
    left: -72px;
    height: 1px;
    width: 95px;
  }

  .form-lists ul li:last-child.line::before {
    left: -73px;
    width: 100px;
  }

  /* banner end  */
}

@media screen and (max-width: 767px) {
  /* banner start  */
  .banner-content {
    margin-top: 60px;
  }
  /* banner end  */

  /* common section padding  */
  .common-sec {
    padding: 100px 0 40px;
  }
  /* common section padding  */

  /* about start  */

  .title {
    font-size: var(--font-48);
    line-height: 48px;
  }

  .sec-title h2 {
    font-size: var(--font-24);
  }

  .profile-back {
    left: 215px;
    right: auto;
  }

  /* about end  */
  /* qualification end  */

  .gaps {
    margin-top: 30px;
  }

  .gaps:first-child {
    margin-top: 0;
  }

  /* qualification end  */
  /* achivement start  */

  .achivement::before {
    width: 100%;
  }

  .achivement-boxes {
    margin-top: 120px;
  }

  /* achivement end  */

  /* project start  */

  .project-hover h2 {
    font-size: var(--font-28);
  }

  .project-hover p {
    font-size: var(--font-14);
  }

  .project-btn {
    margin-top: 10px;
  }

  .project-hover {
    padding: 0 20px;
  }

  /* project end  */

  /* common section padding  */
}

@media screen and (max-width: 575px) {
  /* header start  */

  .nav-menu {
    width: 60%;
  }

  /* header end  */

  /* banner start  */

  .bdr {
    width: 54px;
  }

  .banner-content h2 {
    font-size: 28px;
  }

  .banner-title {
    font-size: 42px;
  }

  /* modal start  */

  .hiring-body {
    padding: 20px;
  }

  .hiring-logo img {
    width: 110px;
  }

  .hiring-procces {
    margin-top: 20px;
  }

  .form-lists {
    margin-bottom: 20px;
  }
  .form-lists ul li .txt {
    display: none;
  }

  .form-lists ul li .count {
    height: 36px;
    width: 36px;
  }

  .form-lists ul li.line::before {
    top: 18px;
    left: -50px;
    width: 50px;
  }

  .form-lists ul li:last-child.line::before {
    left: -50px;
    width: 50px;
  }

  .form-content input,
  .form-content select,
  .form-content textarea,
  .form-content .checkAsk {
    font-size: var(--font-14);
  }

  .field-lists {
    column-gap: 0;
    padding: 8px 10px;
  }

  .field-lists li a {
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 20px;
  }

  .select-field {
    margin-bottom: 20px;
  }

  .btns-lists {
    column-gap: 10px;
    justify-content: start;
  }

  .hire-btn {
    font-size: var(--font-14);
  }

  /* modal end  */

  /* banner end  */

  /* about start  */

  .title {
    font-size: var(--font-38);
    line-height: 38px;
  }

  .sec-title h2 {
    font-size: var(--font-22);
  }

  .dots {
    display: none;
  }

  /* about end  */

  /* art section start  */

  .art-content h2 {
    font-size: var(--font-34);
  }

  /* art section end  */

  /* achivement start  */

  .achivement-boxes {
    margin-top: 60px;
  }

  .transform {
    transform: translate(0);
  }

  /* achivement end  */
  /* blog start  */

  .blog-title {
    font-size: var(--font-24);
  }

  .writer-details h2 {
    font-size: var(--font-18);
  }

  /* blog end  */

  /* project start  */

  .single-project {
    margin-top: 20px;
  }

  .project-hover h2 {
    font-size: var(--font-20);
  }

  .project-hover p {
    font-size: var(--font-14);
  }

  .project-btn {
    margin-top: 10px;
    font-size: var(--font-14);
  }

  .project-pagination li:first-child {
    margin-right: 10px;
  }

  .project-pagination li:last-child {
    margin-left: 10px;
  }

  .project-pagination .page-item {
    height: 40px;
    width: 40px;
  }

  /* project end  */
}

@media screen and (max-width: 380px) {
  /* .banner-btns {
    flex-direction: column;
    row-gap: 20px;
  } */
  /* banner end  */
  /* about start  */
  .title {
    font-size: var(--font-34);
    line-height: 34px;
  }

  .sec-title h2 {
    font-size: var(--font-20);
  }

  .about-footer {
    flex-direction: column;
    align-items: flex-start !important;
    row-gap: 20px;
  }

  .about-btns {
    flex-direction: column;
    row-gap: 20px;
  }
  /* about end  */

  /* art section start  */

  .quote {
    padding: 5px 0 5px 20px;
    font-size: var(--font-18);
  }

  /* art section end  */
  /* contact section start  */
  /* .connect li::after {
    top: -24px;
    transform: translateY(0);
  } */
  /* contact section end  */
}
