@import "material-icons/iconfont/material-icons.css";

@font-face {
  font-family: BebasNeue-Regular;
  src: url(../font-family/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../font-family/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../font-family/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../font-family/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../font-family/Poppins-Bold.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(../font-family/Inter-Bold.ttf);
}

@font-face {
  font-family: Basic-Regular;
  src: url(../font-family/Basic-Regular.ttf);
}

*,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font family  */

  --bebas: BebasNeue-Regular;
  --poppins-med: Poppins-Medium;
  --poppins-reg: Poppins-Regular;
  --poppins-semi: Poppins-SemiBold;
  --poppins-bold: Poppins-Bold;
  --inter-bold: Inter-Bold;
  --basic-reg: Basic-Regular;
  /* common color  */
  --blue: #5454d4;
  --para-color: #6d6d6d;
  --white-btn: #dddddd;
  --white: #fff;
  --black: #14171d;

  --project-hvr: rgba(25, 28, 35, 0.84);

  /* font size  */
  --font-120: 120px;
  --font-84: 84px;
  --font-68: 68px;
  --font-48: 48px;
  --font-38: 38px;
  --font-34: 34px;
  --font-28: 28px;
  --font-24: 24px;
  --font-22: 22px;
  --font-20: 20px;
  --font-18: 18px;
  --font-16: 16px;
  --font-14: 14px;
}

/* 5454d4 6d6d6d dddddd 191c23 1f2326 0f1217*/

body[data-theme="dark"] {
  --bgColor: #14171d;
  --bannerBg: #191c23;
  --color: #fff;
  --titleColor: #1f2326;
  --achivement-bg: #0f1217;
  --projectShd: 8px 8px 14px -2px rgba(27, 30, 38, 0.25);
}

body[data-theme="light"] {
  --bgColor: #fff;
  --bannerBg: #f3f3f3;
  --color: #1d1d1d;
  --titleColor: #d9d9d9;
  --achivement-bg: #f4f4f4;
  --projectShd: 8px 8px 14px -2px rgba(129, 129, 129, 0.25);
}

body {
  font-family: var(--poppins-reg);
  font-size: var(--font-16);
  color: var(--color);
  background-color: var(--bgColor);
}

.beb {
  font-family: var(--bebas);
}

.inter {
  font-family: var(--inter-bold);
}

a {
  text-decoration: none;
}

h1,
h2,
h4,
p {
  margin: 0;
}

p {
  color: var(--para-color);
}

li {
  list-style: none;
}

section {
  overflow: hidden;
}

/* header start  */

.header {
  padding: 25px 0;
  transition: all 0.2s ease-in-out;
}

.header-down {
  padding: 15px 0;
  background-color: var(--bannerBg);
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  width: 150px;
}

body[data-theme="dark"] .logo img:first-child {
  display: none;
}

body[data-theme="light"] .logo img:last-child {
  display: none;
}

.menu-lists {
  column-gap: 40px;
  row-gap: 20px;
}

.menu-lists li a {
  color: var(--color);
  display: inline-block;
  position: relative;
  padding: 0 !important;
  text-transform: capitalize;
  cursor: pointer;
}

.menu-lists li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease-in-out;
}

.menu-lists li a.active::after,
.menu-lists li a:hover::after {
  transform: scaleX(1);
}

.menu-lists li a:hover {
  color: var(--color);
}

.theme-changer {
  margin-bottom: 2px;
  cursor: pointer;
}

.theme-changer i {
  font-size: 20px;
  color: var(--color);
}

body[data-theme="dark"] .theme-changer i:first-child {
  display: none;
}

body[data-theme="light"] .theme-changer i:last-child {
  display: none;
}

.menu-btns {
  cursor: pointer;
}

.menu-btns i {
  font-size: 24px;
}
/* header end  */

.banner {
  padding: 120px 0 80px;
  background-color: var(--bannerBg);
}

.bdr {
  height: 2px;
  width: 90px;
  background-color: var(--color);
}

.banner-content h2 {
  font-size: var(--font-38);
  margin-left: 14px;
}

.banner-title {
  font-size: 84px;
}

.banner-title span {
  color: var(--blue);
}

.common-btn {
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  font-family: Poppins-SemiBold;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 4px;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
}

.common-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 30px;
  height: 110%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: skew(-10deg);
  transition: 0.6s;
}

.common-btn:hover::after {
  left: 120%;
}

.banner-btn {
  margin-top: 40px;
}

.blue-btn {
  background-color: var(--blue);
  color: var(--white);
}

.white-btn {
  background-color: var(--white-btn);
  color: var(--black);
}

.blue-btn:hover {
  color: var(--white);
}

.white-btn:hover {
  color: var(--black);
}

/* banner modal or form start */

.form-modal.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.form-modal.show .dialog {
  position: relative;
  max-width: 810px;
  margin: 0 20px;
}

.hiring-content {
  position: relative;
  background-color: var(--bannerBg);
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.hiring-body {
  padding: 40px;
}

.hiring-logo {
  margin-bottom: 15px;
}

.hiring-logo img {
  width: 140px;
}

.hiring-procces {
  margin-top: 40px;
}

.form-lists ul {
  flex-direction: column;
  row-gap: 50px;
}

.form-lists ul li {
  position: relative;
}

.form-lists ul li span {
  text-transform: capitalize;
  font-family: var(--poppins-semi);
}

.form-lists ul li .count {
  height: 40px;
  width: 40px;
  border: 1px solid var(--color);
  border-radius: 50%;
}

.form-lists ul li .txt {
  padding-left: 20px;
}

.form-lists ul li.line::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 20px;
  height: 50px;
  width: 1px;
  background-color: var(--color);
}

.form-lists ul li.active span {
  color: var(--blue);
}

.form-lists ul li.active .count {
  border-color: var(--blue);
}

.form-lists ul li.line.active::before {
  background-color: var(--blue);
}

.form-fields {
  width: 100%;
  padding-right: 14px;
  max-height: 200px;
  overflow-y: auto;
}

/* Handle on hover */

.form-content input,
.form-content select,
.form-content textarea {
  background-color: var(--bgColor);
  border: none;
  box-shadow: none !important;
}

.form-content input,
.form-content select {
  height: 50px;
}

.form-content input::placeholder {
  text-transform: capitalize;
}

.form-content select {
  color: var(--para-color) !important;
}

.form-content label {
  font-size: var(--font-15);
  text-transform: capitalize;
}

.form-content label span {
  font-size: var(--font-14);
  color: var(--para-color);
}

.buttons {
  margin-top: 14px;
}

.btns-lists {
  column-gap: 20px;
  justify-content: end;
}

.hire-btn {
  padding: 6px 30px;
  font-family: var(--poppins-reg);
}

.select-field {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.field-lists {
  column-gap: 20px;
  background-color: var(--bgColor);
  padding: 10px 20px;
  border-radius: 60px;
}

.field-lists li a {
  display: inline-block;
  padding: 8px 20px;
  text-transform: capitalize;
  font-size: var(--font-14);
  color: var(--color);
  cursor: pointer;
  border-radius: 20px;
}

.field-lists li a.active {
  background-color: var(--blue);
}

.common-fields textarea {
  height: 110px;
}

.form-content input[type="checkbox"] {
  height: 16px;
}

.modal_close-btn {
  display: inline-block;
  position: absolute;
  top: -40px;
  right: 20px;
  font-size: var(--font-28);
  line-height: 28px;
  cursor: pointer;
}

/* banner modal or form end */

/* banner section end  */

/* about section start  */

.common-sec {
  padding: 120px 0 50px;
}

.about-img {
  position: relative;
}

.profile-back {
  position: absolute;
  top: 132px;
  left: 210px;
  z-index: -1;
}

.dots {
  width: 260px;
  height: 250px;
  fill: var(--color);
}

.sec-title {
  position: relative;
  margin-bottom: 30px;
}

.title {
  font-size: var(--font-68);
  line-height: var(--font-68);
  color: var(--titleColor);
  text-transform: uppercase;
}

.sec-title h2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-size: var(--font-34);
  text-transform: capitalize;
}

.about-title h2 {
  text-transform: none;
}

.about-title h2 {
  left: 0;
  transform: translateX(0);
}

.about-btns {
  column-gap: 30px;
}

.social {
  column-gap: 16px;
}

.social li a {
  display: flex;
  height: 40px;
  width: 40px;
  font-size: var(--font-20);
  color: var(--color);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--titleColor);
  transition: all 0.3s ease-in-out;
}

.social li a:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* about section end  */

/* art section start  */

.art-content h2 {
  font-family: var(--basic-reg);
  font-size: var(--font-68);
}

.art-content p {
  margin-top: 25px;
}

.quote {
  margin-top: 25px;
  padding: 10px 30px;
  font-family: var(--basic-reg);
  font-size: var(--font-22);
  border-left: 4px solid var(--blue);
}

/* art section end  */

/* qualification section start  */

.qualification-title {
  margin-bottom: 80px;
}

.qualification-content h2 {
  font-family: var(--poppins-semi);
  font-size: var(--font-24);
  margin-bottom: 20px;
}

.single-content {
  position: relative;
  padding-left: 34px;
  margin-top: 14px;
}

.dot-line::before,
.dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--blue);
}

.dot-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 9px;
  height: 82%;
  width: 3px;
  background-color: var(--blue);
}

.single-content h4 {
  font-size: var(--font-18);
  margin-bottom: 12px;
}

/* services section end  */

.bg-sec {
  padding: 120px 0;
}

.single-service {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: var(--bannerBg);
  border-radius: 10px;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.single-service:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.service-titles {
  margin-bottom: 10px;
  position: relative;
}

.service-titles i {
  font-size: var(--font-120);
  color: var(--titleColor);
}

.service-titles h2 {
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--inter-bold);
  font-size: var(--font-20);
  line-height: 60px;
  text-transform: uppercase;
  white-space: nowrap;
}

.bdr-bottom {
  margin-top: 40px !important;
  height: 3px;
  width: 60px;
  margin: 0 auto;
  background-color: var(--blue);
}

/* services section start  */

/* achivement section end  */

.achivement {
  position: relative;
}

.achivement::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--achivement-bg);
  z-index: -1;
}

.achivement-title {
  margin-bottom: 28px;
  font-family: var(--basic-reg);
  font-size: var(--font-48);
  text-transform: uppercase;
}

.single-achivement {
  margin-bottom: 26px;
  padding: 40px 20px;
  background-color: var(--bannerBg);
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.transform {
  transform: translateY(-50px);
}

.single-achivement p i {
  font-size: var(--font-84);
}

.single-achivement h4 {
  margin: 14px 0 20px;
  font-size: var(--font-18);
  text-transform: uppercase;
  letter-spacing: 6px;
}

.single-achivement h2 {
  font-family: var(--poppins-bold);
  font-size: var(--font-68);
  color: var(--blue);
  text-transform: uppercase;
  letter-spacing: 6px;
}

/* achivement section start  */

/* projects section end  */

.single-project {
  position: relative;
  margin-top: 30px;
  box-shadow: var(--projectShd);
}

.img-content {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.img-content img {
  width: 100%;
  transition: 0.3s all ease-in-out;
}

.project-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  text-align: center;
  padding: 0 70px;
  background-color: var(--project-hvr);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.project-hover h2 {
  text-transform: capitalize;
  font-size: var(--font-48);
  font-family: var(--poppins-bold);
  color: var(--white);
}

.project-hover p {
  color: var(--white);
}

.project-btn {
  margin-top: 20px;
  padding: 9px 30px;
  border-radius: 50px;
}

.single-project:hover .img-content img {
  transform: scale(1.1);
}

.single-project:hover .project-hover {
  opacity: 1;
  visibility: visible;
}

.project-pagination {
  display: inline-flex;
  padding: 0 10px;
  background-color: var(--bannerBg);
  border-radius: 50px;
  column-gap: 5px;
}

.project-pagination li {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  text-transform: capitalize;
}

.project-pagination li:first-child {
  margin-right: 15px;
}

.project-pagination li:last-child {
  margin-left: 15px;
}

.project-pagination .page-item {
  height: 50px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bgColor);
  transition: 0.3s all ease-in-out;
}

.project-pagination li:hover {
  color: var(--blue);
}

.project-pagination .page-item:hover,
.project-pagination .page-item.active {
  background-color: var(--blue);
  color: var(--white);
}

/* projects section start  */

/* blog section start  */

.blog-part {
  margin-top: 80px;
}

.blog-img img {
  width: 100%;
}

.single-blog h4 {
  margin: 20px 0 25px;
  font-size: var(--font-14);
  color: var(--para-color);
  text-transform: capitalize;
}

.blog-title {
  font-family: var(--basic-reg);
  font-size: var(--font-34);
  transition: all 0.3s ease-in-out;
}

.blog-title a {
  color: inherit;
}

.blog-title:hover {
  color: var(--blue);
}

.blog-para {
  margin: 25px 0 40px;
}

.single-blog p a {
  color: var(--blue);
}

.writer {
  column-gap: 15px;
}

.writer-details h2 {
  font-family: var(--basic-reg);
  font-size: var(--font-20);
  text-transform: uppercase;
}

.writer-details p {
  margin-top: 4px;
  font-size: var(--font-14);
  text-transform: capitalize;
}

/* blog section end  */

/* contact section start  */

.contact-title {
  margin-bottom: 80px;
}

.contact-details h2 {
  margin-bottom: 10px;
  font-family: var(--inter-bold);
  font-size: var(--font-34);
  text-transform: capitalize;
}

.connect {
  margin-top: 50px;
}

.connect li {
  margin-bottom: 24px;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: var(--para-color);
  padding: 18px 20px;
  background-color: var(--bannerBg);
  border-radius: 5px;
}

.connect li::after {
  content: "copied!";
  position: absolute;
  top: -24px;
  right: 20px;
  color: var(--blue);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.connect li.show::after {
  visibility: visible;
  opacity: 1;
}

.connect li a {
  color: inherit;
  font-size: var(--font-24);
  display: inline-flex;
  align-items: center;
}

.connect li .copy {
  font-size: var(--font-20);
  color: var(--para-color);
  line-height: 20px;
  cursor: pointer;
}

.location {
  margin-bottom: 30px;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
}

.location iframe {
  width: 100%;
  height: 100%;
}

.contact-social {
  margin-top: 20px;
}

.contact-form {
  padding: 30px;
  background-color: var(--bannerBg);
  border-radius: 10px;
}

.form-group {
  column-gap: 30px;
}

.form-floating {
  width: 100%;
  margin-bottom: 35px !important;
}

.form-control {
  width: 100%;
  background-color: var(--bgColor);
  border: none;
  outline: none;
  color: var(--color) !important;
}

.form-control:focus {
  box-shadow: none;
  background-color: var(--bgColor);
}

.form-floating label,
.form-control::placeholder {
  color: var(--para-color);
}

.form-floating textarea {
  height: 200px !important;
}

.form-btn {
  margin-top: 50px;
}

.submit-btn {
  font-family: var(--basic-reg);
  letter-spacing: 2px;
}

/* contact section end  */

/* footer section start  */

.footer {
  padding-top: 120px;
}

.footer-bg {
  padding: 60px 0 20px;
  background-color: var(--achivement-bg);
}

.single-part {
  margin-bottom: 40px;
}

.footer-logo img {
  width: 180px;
}

.single-part h2 {
  font-family: var(--poppins-semi);
  font-size: var(--font-24);
  margin-bottom: 20px;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links li:last-child {
  margin-bottom: 0;
}

.footer-links li a {
  color: inherit;
  transition: 0.3s ease-in-out;
}

.footer-links li a:hover {
  color: var(--blue);
}

.subsciption {
  position: relative;
  margin-top: 34px;
}

.subsciption .form-control {
  padding-left: 20px;
  width: 85% !important;
  height: 55px;
  border-radius: 50px;
}

.subs-btn {
  padding: 8px 30px;
  font-family: var(--basic-reg);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 50px;
}

.copyright {
  padding: 40px 0;
}

/* footer section end  */

.form-fields::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bgColor);
  border-radius: 8px;
  /* position: ; */
}

.form-fields::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 8px;
}

/* footer section end  */

/* arrow up button  */

.arrow-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  color: var(--white);
  transform: translate(20px, 30px);
  transform-origin: top left;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
}

.arrow-btn i {
  font-size: var(--font-24);
}

.arrow-btn.show-arrow {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
