@font-face {
  font-family: BebasNeue-Regular;
  src: url(../font-family/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../font-family/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../font-family/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../font-family/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../font-family/Poppins-Bold.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(../font-family/Inter-Bold.ttf);
}

@font-face {
  font-family: Basic-Regular;
  src: url(../font-family/Basic-Regular.ttf);
}

*,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font family  */

  --bebas: BebasNeue-Regular;
  --poppins-med: Poppins-Medium;
  --poppins-reg: Poppins-Regular;
  --poppins-semi: Poppins-SemiBold;
  --poppins-bold: Poppins-Bold;
  --inter-bold: Inter-Bold;
  --basic-reg: Basic-Regular;
  /* common color  */
  --blue: #5454d4;
  --para-color: #6d6d6d;
  --white-btn: #dddddd;
  --white: #fff;
  --black: #14171d;
  /* font size  */
  --font-120: 120px;
  --font-84: 84px;
  --font-68: 68px;
  --font-48: 48px;
  --font-38: 38px;
  --font-34: 34px;
  --font-28: 28px;
  --font-24: 24px;
  --font-22: 22px;
  --font-20: 20px;
  --font-18: 18px;
  --font-16: 16px;
  --font-14: 14px;
}

body[data-theme="dark"] {
  --bgColor: #14171d;
  --bannerBg: #191c23;
  --color: #fff;
  --titleColor: #1f2326;
  --achivement-bg: #0f1217;
}

body[data-theme="light"] {
  --bgColor: #fff;
  --bannerBg: #f3f3f3;
  --color: #1d1d1d;
  --titleColor: #d9d9d9;
  --achivement-bg: #f4f4f4;
}

body {
  font-family: var(--poppins-reg);
  font-size: var(--font-16);
  color: var(--color);
  background-color: var(--bgColor);
}

.beb {
  font-family: var(--bebas);
}

.inter {
  font-family: var(--inter-bold);
}

a {
  text-decoration: none;
}

h1,
h2,
h4,
p {
  margin: 0;
}

p {
  color: var(--para-color);
}

li {
  list-style: none;
}

section {
  overflow: hidden;
}

/* header start  */

.header {
  padding: 25px 0;
  transition: all 0.2s ease-in-out;
}

.header-down {
  padding: 15px 0;
  background-color: var(--bannerBg);
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  width: 150px;
}

body[data-theme="dark"] .navbar-brand img:first-child {
  display: none;
}

body[data-theme="light"] .navbar-brand img:last-child {
  display: none;
}

.navbar-nav {
  column-gap: 40px;
  row-gap: 20px;
}

.nav-link {
  color: var(--color);
  display: inline-block;
  position: relative;
  padding: 0 !important;
  text-transform: capitalize;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease-in-out;
}

.nav-link.active::after,
.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-link:hover {
  color: var(--color);
}

.theme-changer {
  cursor: pointer;
}

.theme-changer i {
  font-size: 20px;
  color: var(--color);
}

body[data-theme="dark"] .theme-changer i:first-child {
  display: none;
}

body[data-theme="light"] .theme-changer i:last-child {
  display: none;
}

.menu-btns {
  cursor: pointer;
}

.menu-btns i {
  font-size: 24px;
}
/* header end  */

.banner {
  padding: 120px 0 60px;
  background-color: var(--bannerBg);
}

.bdr {
  height: 2px;
  width: 90px;
  background-color: var(--color);
}

.banner-content h2 {
  font-size: var(--font-38);
  margin-left: 14px;
}

.banner-title {
  font-size: 84px;
}

.banner-title span {
  color: var(--blue);
}

.common-btn {
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  font-family: Poppins-SemiBold;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 4px;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
}

.common-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 30px;
  height: 110%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: skew(-10deg);
  transition: 0.6s;
}

.common-btn:hover::after {
  left: 120%;
}

.banner-btns {
  column-gap: 34px;
}

.blue-btn {
  background-color: var(--blue);
  color: var(--white);
}

.white-btn {
  background-color: var(--white-btn);
  color: var(--black);
}

.blue-btn:hover {
  color: var(--white);
}

.white-btn:hover {
  color: var(--black);
}

/* banner section end  */

/* about section start  */

.common-sec {
  padding: 120px 0 50px;
}

.about-img {
  position: relative;
}

.profile-back {
  position: absolute;
  top: 132px;
  left: 210px;
  z-index: -1;
}

.dots {
  width: 260px;
  height: 250px;
  fill: var(--color);
}

.sec-title {
  position: relative;
  margin-bottom: 30px;
}

.title {
  font-size: var(--font-68);
  line-height: var(--font-68);
  color: var(--titleColor);
  text-transform: uppercase;
}

.sec-title h2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-size: var(--font-34);
  text-transform: capitalize;
}

.about-title h2 {
  text-transform: none;
}

.about-title h2 {
  left: 0;
  transform: translateX(0);
}

.social {
  column-gap: 16px;
}

.social li a {
  display: flex;
  height: 40px;
  width: 40px;
  font-size: var(--font-20);
  color: var(--color);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--titleColor);
  transition: all 0.3s ease-in-out;
}

.social li a:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* about section end  */

/* art section start  */

.art-content h2 {
  font-family: var(--basic-reg);
  font-size: var(--font-68);
}

.art-content p {
  margin-top: 25px;
}

.quote {
  margin-top: 25px;
  padding: 10px 30px;
  font-family: var(--basic-reg);
  font-size: var(--font-22);
  border-left: 4px solid var(--blue);
}

/* art section end  */

/* qualification section start  */

.qualification-title {
  margin-bottom: 80px;
}

.qualification-content h2 {
  font-family: var(--poppins-semi);
  font-size: var(--font-24);
  margin-bottom: 20px;
}

.single-content {
  position: relative;
  padding-left: 34px;
  margin-top: 14px;
}

.dot-line::before,
.dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--blue);
}

.dot-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 9px;
  height: 82%;
  width: 3px;
  background-color: var(--blue);
}

.single-content h4 {
  font-size: var(--font-18);
  margin-bottom: 12px;
}

/* services section end  */

.bg-sec {
  padding: 120px 0;
}

.single-service {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: var(--bannerBg);
  border-radius: 10px;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.single-service:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.service-titles {
  margin-bottom: 10px;
  position: relative;
}

.service-titles i {
  font-size: var(--font-120);
  color: var(--titleColor);
}

.service-titles h2 {
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--inter-bold);
  font-size: var(--font-20);
  line-height: 60px;
  text-transform: uppercase;
  white-space: nowrap;
}

.bdr-bottom {
  margin-top: 40px !important;
  height: 3px;
  width: 60px;
  margin: 0 auto;
  background-color: var(--blue);
}

/* services section start  */

/* achivement section end  */

.achivement {
  position: relative;
}

.achivement::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--achivement-bg);
  z-index: -1;
}

.achivement-title {
  margin-bottom: 28px;
  font-family: var(--basic-reg);
  font-size: var(--font-48);
  text-transform: uppercase;
}

.single-achivement {
  margin-bottom: 26px;
  padding: 40px 20px;
  background-color: var(--bannerBg);
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.transform {
  transform: translateY(-50px);
}

.single-achivement p i {
  font-size: var(--font-84);
}

.single-achivement h4 {
  margin: 14px 0 20px;
  font-size: var(--font-18);
  text-transform: uppercase;
  letter-spacing: 6px;
}

.single-achivement h2 {
  font-family: var(--poppins-bold);
  font-size: var(--font-68);
  color: var(--blue);
  text-transform: uppercase;
  letter-spacing: 6px;
}

/* achivement section start  */

/* projects section end  */

.project-slider {
  position: relative;
  margin-top: 80px;
  padding: 80px 0;
}

.swiper-slide {
  text-align: center;
}

.slider-content {
  display: inline-block;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(8px 8px 15px rgba(0, 0, 0, 0.5));
}

.slider-details {
  position: absolute;
  top: 0;
  right: -100%;
  width: 55%;
  height: 100%;
  padding: 12px;
  background-color: var(--bannerBg);
  transition: 0.4s ease-in-out;
}

.slider-content:hover .slider-details {
  right: 0;
}

.slider-details p {
  font-size: var(--font-48);
}

.slider-details h4 {
  margin: 12px 0;
  font-size: var(--font-18);
}

.slider-details a {
  color: inherit;
  transition: 0.3s ease-in-out;
}

.slider-details a:hover {
  color: var(--blue);
}

.arrows {
  position: absolute;
  top: 0;
  right: 60px;
  column-gap: 30px;
}

.arrows svg path {
  fill: var(--color) !important;
}

.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
}

.swiper-pagination-bullet-active {
  background-color: var(--blue);
}
/* projects section start  */

/* blog section start  */

.blog-part {
  margin-top: 80px;
}

.single-blog h4 {
  margin: 20px 0 25px;
  font-size: var(--font-14);
  color: var(--para-color);
  text-transform: capitalize;
}

.blog-title {
  font-family: var(--basic-reg);
  font-size: var(--font-34);
  transition: all 0.3s ease-in-out;
}

.blog-title a {
  color: inherit;
}

.blog-title:hover {
  color: var(--blue);
}

.blog-para {
  margin: 25px 0 40px;
}

.single-blog p a {
  color: var(--blue);
}

.writer {
  column-gap: 15px;
}

.writer-details h2 {
  font-family: var(--basic-reg);
  font-size: var(--font-20);
}

.writer-details p {
  margin-top: 4px;
  font-size: var(--font-14);
}

/* blog section end  */

/* contact section start  */

.contact-title {
  margin-bottom: 80px;
}

.contact-details h2 {
  margin-bottom: 10px;
  font-family: var(--inter-bold);
  font-size: var(--font-34);
  text-transform: capitalize;
}

.connect {
  margin-top: 50px;
}

.connect li {
  margin-bottom: 24px;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: var(--para-color);
  padding: 18px 20px;
  background-color: var(--bannerBg);
  border-radius: 5px;
  cursor: pointer;
}

.connect li::after {
  content: "copied!";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: var(--blue);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.connect li.show::after {
  visibility: visible;
  opacity: 1;
}

.connect li a {
  color: inherit;
  font-size: var(--font-24);
  display: inline-flex;
  align-items: center;
}

.location {
  margin-bottom: 30px;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
}

.location iframe {
  width: 100%;
  height: 100%;
}

.contact-social {
  margin-top: 20px;
}

.contact-form {
  padding: 30px;
  background-color: var(--bannerBg);
  border-radius: 10px;
}

.form-group {
  column-gap: 30px;
}

.form-floating {
  width: 100%;
  margin-bottom: 35px !important;
}

.form-control {
  width: 100%;
  background-color: var(--bgColor);
  border: none;
  outline: none;
  color: var(--color) !important;
}

.form-control:focus {
  box-shadow: none;
  background-color: var(--bgColor);
}

.form-floating label,
.form-control::placeholder {
  color: var(--para-color);
}

.form-floating textarea {
  height: 200px !important;
}

.form-btn {
  margin-top: 50px;
}

.submit-btn {
  font-family: var(--basic-reg);
  letter-spacing: 2px;
}

/* contact section end  */

/* footer section start  */

.footer {
  padding-top: 120px;
}

.footer-bg {
  padding: 60px 0 20px;
  background-color: var(--achivement-bg);
}

.single-part {
  margin-bottom: 40px;
}

.single-part h2 {
  font-family: var(--poppins-semi);
  font-size: var(--font-24);
  margin-bottom: 20px;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links li:last-child {
  margin-bottom: 0;
}

.footer-links li a {
  color: inherit;
  transition: 0.3s ease-in-out;
}

.footer-links li a:hover {
  color: var(--blue);
}

.subsciption {
  position: relative;
  margin-top: 34px;
}

.subsciption .form-control {
  padding-left: 20px;
  width: 85% !important;
  height: 55px;
  border-radius: 50px;
}

.subs-btn {
  padding: 8px 30px;
  font-family: var(--basic-reg);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 50px;
}

.copyright {
  padding: 40px 0;
}

/* footer section end  */
